.Carousel{
    height: 285px;
    width: 10000px;
    position: absolute;
    left: 0;
}
.carouselcontainer{
    width: 1000px;
    overflow: hidden;
    margin: auto;
    position: relative;
    height: 330px;
}
.leftArrow{
    position: absolute;
    top: 226px;
    left: 279px;
    
}
.rightArrow{
    position: absolute;
    left: 1530px;
    bottom: 700px;
}